.container
  .form-signin
    %h2.form-signin-heading Editar #{resource_name.to_s.humanize}
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :username, required: false, label: 'Usuário', placeholder: "Nome de Usuário", autofocus: true
        = f.input :name,     required: false, label: 'Nome', placeholder: "Nome completo"
        = f.input :email,    required: false, label: 'E-mail', placeholder: "Endereço de E-mail"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        = f.input :password, :autocomplete => "off", :hint => "deixe em branco se não quiser mudar a senha", required: false, label: 'Senha', placeholder: "Senha"
        = f.input :password_confirmation, required: false, label: 'Confirmar senha', placeholder: "Confirmar senha"
        = f.input :current_password, :hint => "precisamos da senha atual para confirmar suas mudanças", :required => true, label: 'Senha atual', placeholder: 'Senha atual'
      .form-actions
        = f.button :submit, "Atualizar", class: 'btn btn-lg btn-primary btn-block'
      = render "devise/shared/links"

    %h3 Cancelar minha conta
    %p
      Insatisfeito? #{link_to "Cancelar minha conta", registration_path(resource_name), :data => { :confirm => "Você tem certeza?" }, :method => :delete}
    = link_to "Voltar", :back
