- model_class = <%= class_name %>
.container
  .row
    .col-md-8
      .header
        %h1=t '.title', :default => [:'helpers.titles.index', 'Index of %{model}'], :model => model_class.model_name.human
    .col-md-4.text-right.ptop-30
      = link_to t('.new', :default => t("helpers.links.new")), new_<%= singular_table_name %>_path, :class => 'btn btn-primary'

%table.table.table-hover
  %thead
    %tr
  <% for attribute in attributes -%>
    %th= model_class.human_attribute_name(:<%= attribute.name %>)
  <% end -%>
    %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %tr
  <% for attribute in attributes -%>
      %td= <%= singular_table_name %>.<%= attribute.name %>
  <% end -%>
      %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => 'btn btn-mini btn-success'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), <%= singular_table_name %>_path(<%= singular_table_name %>), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

%br
