%ul.nav.navbar-nav
  %li{ class: "#{current_page?(root_path) ? 'active' : ''}"}
    = link_to 'Home', root_path
  %li{ class: "#{current_page?(page_path('about')) ? 'active' : ''}"}
    = link_to 'About', page_path('about')
  %li{ class: "#{current_page?(page_path('contact')) ? 'active' : ''}"}
    = link_to 'Contact', page_path('contact')
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      Dropdown
      %span.caret
    %ul.dropdown-menu{:role => "menu"}
      %li
        %a{:href => "#"} Action
      %li
        %a{:href => "#"} Another action
      %li
        %a{:href => "#"} Something else here
      %li.divider
      %li.dropdown-header Nav header
      %li
        %a{:href => "#"} Separated link
      %li
        %a{:href => "#"} One more separated link

  - if !current_user.present?
    %li
      = link_to "Login", remote_sign_up_path, :remote => true
      - #= link_to new_user_session_path do
      - #  Entrar
  - else
    %li
      = link_to "Sair", logout_path